.product { margin-bottom: 20px; }
.img-thumbnail { max-height: 300px; }
.label { margin-right: 5px; }
.btn { margin-right: 5px; }
.fa { margin-right: 5px; }
footer { margin-top: 50px ; padding: 50px 0px; background-color: #222; color: #fff; }
