extends layout

block content
    .container
        .row
            .col-md-12
                h1.page-header About
        .row
            .col-md-12
                :markdown
                    やしへいです。毎日が暇です。  
                    ## Link
                    * [Twitter](https://twitter.com/yashihei)
                    * [GitHub](https://github.com/yashihei)
                    * [Blog](http://yashihei.hatenablog.com/)[.](http://yashihei.tumblr.com/)
                    * [Steam](http://steamcommunity.com/id/yashihei)
                    ## Contact
                    * Twitter : [@yashihei](https://twitter.com/yashihei)
                    * E-mail : yashihei(at)gmail.com

