extends layout

block content
    .container
        .row
            .col-md-12
                h1.page-header 化神ダウンロードページ
        .row
            .col-md-12
                :markdown
                    ※準備中です、デジゲー博当日までにアップします。  
                    化神をお手にとって頂きありがとうございます！ 下記リンクよりダウンロードが可能です。
                a.btn.btn-primary(href="" role="button")
                    i.fa.fa-download
                    | DownLoad
